<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<div style="color: firebrick; font-size: 50px">The site is currently down for maintenance</div>
</body>
{{> footer}}
</html>